@charset "utf-8";

/* ---------- css reset ---------- */
html{height:100%;}
body{position:relative;min-height:100%;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;word-wrap:break-word;}
body,button,input,select,textarea{font-family:Microsoft YaHei,"宋体",Tahoma,arial;font-size:12px;color:#333;}
th{text-align:inherit;}
ol,ul{list-style:none;}
fieldset,img{border:0;vertical-align:middle;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
ins,a{color:#000;text-decoration:none;}
table{border-collapse:collapse;}

/* ---------- index ---------- */
body {
    position: relative;
    height: 100%;
    background: #eee;
}
.top {
    position: absolute;
    top: 17%;
    width: 100%;
    height: 200px;
    margin-top: -100px;
    background: url('doc/assets/top.jpg') no-repeat center center;
    background-size: auto 100%;
}
.main {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 850px;
    max-width: 90%;
    padding: 40px;
    margin: -140px auto 0;
    background: #fff;
    box-shadow: rgba(0,0,0,.1) 1px 2px 5px;
}
.main h1 {
    padding: 0;
    margin: 0;
}
.main h1 img {
    float: left;
    max-width: 100%;
    margin-right: 20px;
}
.main h2,
.main h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}
.main hr {
    clear: both;
    margin-top: 20px;
    border: none;
    border-bottom: #ddd 1px solid;
}
.main .links {
    padding: 30px 20px 0;
    text-align: center;
    font-size: 14px;
}
.main strong,
.main span {
    display: inline-block;
    padding: 0 10px;
    font-weight: normal;
    line-height: 20px;
}
.main a {
    color: #4078c0;
    font-weight: bold;
}
.main a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 750px) {
    .top {
        top: 0;
        margin-top: 0;
        background-size: cover;
    }
    .main {
        	margin: auto;
        	-webkit-transform: translateY(-50%);
        	-moz-transform: translateY(-50%);
        	-ms-transform: translateY(-50%);
        	transform: translateY(-50%);
    }
    .main h1 img {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .main h2,
    .main h3 {
        font-size: 14px;
    }
}